#navbar{
    flex-direction: column;
    /* position: relative; */
    /* top: 0px; */
}
#logo img{
    height: 62px;
    margin: 0px 1px;
    border-radius: 30px;
}


#navbar ul li a{
    padding: 0px 5px;
    font-size: 1rem;
}

#home{
height: 200px;
padding: 23px 54px;

}
#home::before{
    /* height:300px; */
}

#home p{
    font-size: 20px;
}
#services{
flex-direction: column;

}

#services .box{


}



#clients{
     /* overflow: hidden; */
     flex-wrap: wrap;
     /* height:200px; */
}
/* #clients-section::before{ */
    /* height: 500px; */
/* } */
#clients img{
    width:72px;
    padding: 0px;
    height: auto;

}
.h-primary{
    font-size: 26px;
}
#contact-box form{
    width: 80%;
}